<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoM_oH72AEmUL2XXetor-Dpf3jzlVhdpk</string>
	<key>GCM_SENDER_ID</key>
	<string>713095452263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newstemplate.FlutterNewsTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutternewstemplate-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternewstemplate-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713095452263:ios:1f14d716266b463765e6c2</string>
</dict>
</plist>