<!-- Replace with GoogleService-Info.plist from the Firebase Console -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559880001551-tcnq6g78qsn5vnqllo1l1jjda6std8a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559880001551-tcnq6g78qsn5vnqllo1l1jjda6std8a7</string>
	<key>API_KEY</key>
	<string>AIzaSyBmFgKFULpkbH1uOgrbX-f-4WYzEMWhf7U</string>
	<key>GCM_SENDER_ID</key>
	<string>559880001551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newstemplate.FlutterNewsTemplate.prod</string>
	<key>PROJECT_ID</key>
	<string>flutternewtemplate-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutternewtemplate-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559880001551:ios:50dfb50ef48ab41815eb7a</string>
</dict>
</plist>